datasets==2.20.0
FlagEmbedding==1.2.10
gensim==4.3.3
huggingface-hub==0.24.5
jieba==0.42.1
numpy==1.26.4
openai==1.40.2
OpenCC==1.1.9
protobuf==5.27.3
python-dotenv==1.0.1
scikit-learn==1.5.1
sentence-transformers==3.0.1
sentencepiece==0.2.0
tenacity==9.0.0
torch==2.4.0
tqdm==4.66.5
transformers==4.44.0
vllm==0.5.4
wikipedia==1.4.0
